@* @page
@model CS395SI_Spring2023_Group1.Pages.Registration.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.PhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.PhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.LicenseNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.LicenseNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.LicenseState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.LicenseState)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.LicenseIssue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.LicenseIssue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.LicenseExp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.LicenseExp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.LicenseClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.LicenseClass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Under18)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Under18)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.PGName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.PGName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.HomePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.HomePhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.AltPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.AltPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.USCitizen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.USCitizen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.HSGrad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.HSGrad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.SchoolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.SchoolName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.SchoolAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.SchoolAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Employed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Employed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.BusinessName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.BusinessName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.BusinessAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.BusinessAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.BusinessPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.BusinessPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Talents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Talents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerName2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerName2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerName3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerName3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerRelation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerRelation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerRelation2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerRelation2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerRelation3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerRelation3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerPhoneNum1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerPhoneNum1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerPhoneNum2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerPhoneNum2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerPhoneNum3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerPhoneNum3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerAddress2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerAddress2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.EmerAddress3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.EmerAddress3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.ApplicationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.ApplicationStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Spring2023_Group1_Profile_Sys?.Email">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div> *@

@page
@model CS395SI_Spring2023_Group1.Pages.Registration.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Student Application Details</h1>

<div class="row mb-4">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Update Application Status</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" name="StudentId" value="@Model.Spring2023_Group1_Profile_Sys.Email" />
                    
                    <div class="mb-3">
                        <label class="form-label">Current Status: <strong>@Model.Spring2023_Group1_Profile_Sys.ApplicationStatus</strong></label>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">New Status:</label>
                        <select name="ApplicationStatus" class="form-select">
                            <option value="Pending">Pending</option>
                            <option value="Approved">Approved</option>
                            <option value="Denied">Denied</option>
                        </select>
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Update Status</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.PhoneNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.PhoneNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2023_Group1_Profile_Sys.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.Address)
        </dd>
        <!-- Additional fields -->
        <dt class="col-sm-2">
            Application Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2023_Group1_Profile_Sys.ApplicationStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>