@page
@model CS395SI_Spring2023_Group1.Pages.StudentSchedule.AvailableServiceModel

@{
    ViewData["Title"] = "AvailableService";
}

<h1>Available Services</h1>


<p>
   @* <a asp-page="Create">Create New</a>*@ 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spring2023_Group1_Services[0].ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2023_Group1_Services[0].ServiceFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2023_Group1_Services[0].ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2023_Group1_Services[0].ServiceHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Spring2023_Group1_Services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceHours)
            </td>
            <td>
                 @* User doesn't need to be able to edit the sections  <a asp-page="./Edit" asp-route-id="@item.ServiceID">Edit</a> | *@
               @* <a asp-page="./Details" asp-route-id="@item.ServiceID">Details</a> *@
                @* <a asp-page="./Delete" asp-route-id="@item.ServiceID">Delete</a> *@
            </td>
                <td>
                    <form method="post">
                        <input type="hidden" name="serviceID" value="@item.ServiceID" />
                        <input type="submit" value="Available Sections" />

                    </form>

                </td>
        </tr>
}
    </tbody>
</table>
