@page
@model CS395SI_Spring2023_Group1.Pages.Session.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Spring2024_Group2_Session</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.ServiceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.ServiceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.SectionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.SectionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Spring2024_Group2_Session.SessionID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
