@page
@model CS395SI_Spring2023_Group1.Pages.Session.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spring2024_Group2_Session</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.ServiceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.ServiceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.SectionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.SectionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.MeetingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.MeetingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Session.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Session.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Spring2024_Group2_Session?.SessionID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
