@page
@model CS395SI_Spring2023_Group1.Pages.Sections.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>CAUTION - Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4> @Html.DisplayFor(model => model.Spring2024_Group2_Sections.serviceName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.serviceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.serviceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.serviceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.serviceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.weekDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.weekDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.startTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.startTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.endTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.endTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Sections.status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Spring2024_Group2_Sections.sectionID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
