@page
@model CS395SI_Spring2023_Group1.Pages.Sections.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<h1>
    Sections for @Html.DisplayFor(model => model.Spring2024_Group2_Sections.FirstOrDefault().serviceName)
</h1>

<p>
    <a asp-page="Create" asp-route-serviceID="@Model.ServiceID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].weekDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].endTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Spring2024_Group2_Sections)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.weekDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td class="action-buttons">
                    <a asp-page="./Edit" asp-route-id="@item.sectionID" class="btn edit-btn" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.sectionID" class="btn details-btn" title="View Details">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.sectionID" class="btn delete-btn" title="Delete"
                        onclick="return confirm('Are you sure you want to delete this item?');">
                        <i class="fas fa-trash-alt"></i>
                    </a>

                    <form method="post">
                        <input type="hidden" name="sectionID" value="@item.sectionID" />
                        <button type="submit" class="btn attendance-btn" title="View Attendance">
                            <i class="fas fa-calendar-day"></i>
                        </button>
                    </form>


                </td>
            </tr>
        }
    </tbody>
</table>
