@page
@model CS395SI_Spring2023_Group1.Pages.Sections.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>
   Sections for @Html.DisplayFor(model => model.Spring2024_Group2_Sections.FirstOrDefault().serviceName)
</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].serviceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].serviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].weekDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].endTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Sections[0].status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Spring2024_Group2_Sections) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.serviceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weekDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.sectionID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.sectionID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.sectionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
