@page
@model CS395SI_Spring2023_Group1.Pages.MySchedules.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>CAUTION - Are you sure you want to drop this section?</h1>


<div>
    <h4> @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.ServiceName)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.StudentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.StudentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.ServiceID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.ServiceID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.SectionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.SectionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.WeekDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.WeekDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spring2024_Group2_Schedule.EndTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Spring2024_Group2_Schedule.ScheduleID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
