@page
@model CS395SI_Spring2023_Group1.Pages.MySchedules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Services</h1>

<p>
    <a href = "https://localhost:7115/StudentSchedule/AvailableService">Available Services</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].StudentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].ServiceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].SectionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].WeekDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spring2024_Group2_Schedule[0].EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Spring2024_Group2_Schedule) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @* user doesnt need to edit the services <a asp-page="./Edit" asp-route-id="@item.ScheduleID">Edit</a> |  *@
                <a asp-page="./Details" asp-route-id="@item.ScheduleID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheduleID">Drop Section</a>
            </td>
        </tr>
}
    </tbody>
</table>
